*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'calibri', sans-serif;}

body{background: #DADADA;}

button{cursor: pointer;}

.sidebar .fa-solid{margin-right: 5px;}

input.invalidField{border: 1px solid red!important;}

.deleteBtn{
    background-color: lightcoral; 
    transition: all 0.6s;
    border: none; 
    padding:5px; 
    color:white; 
    border-radius: 5px; 
    margin-top: 10px;}

.deleteBtn:hover{

    background-color: rgb(209, 104, 104); 
    transition: all 0.6s;
}

.okBtn, .switchtoactiveBtn{
    background-color: yellowgreen; 
    transition: all 0.6s;
    border: none; 
    padding:5px; 
    color:white; 
    border-radius: 5px; 
    margin-top: 10px;}

.okBtn:hover{

        background-color: rgb(102, 165, 110);  
        transition: all 0.6s;
    }

.deleteBtn.visble{opacity: 100%;}
.deleteBtn.hidden{opacity: 0%;}

.editBtn{
    background-color: gold; 
    transition: all 0.6s;
    border: none; 
    padding:5px; 
    color:white; 
    border-radius: 5px; 
    margin-top: 10px;

}

.switchtoinactiveBtn{background-color: lightgrey; 
    transition: all 0.6s;
    border: none; 
    padding:5px; 
    color:white; 
    border-radius: 5px; 
    margin-top: 10px;

}

/*index*/
.forms{
    display: block;
    position: fixed;
    z-index: 0;
    top:85px;
    position:absolute;
    z-index: 1;
    transform: translate(-100%, 0px);
}

.habitForm{
    display: flex;
    flex-direction: row;
    min-height: auto;
    margin:auto;
    align-content: space-around;
    justify-content: center;
    visibility: hidden;
    transform: translate(0%, 0%);
    transition: all 1s;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.habitForm.visible{visibility: visible; transform:translate(130%, 0px); transition: all 1s;}

.habitForm input, .DLEventForm input{
    display: grid;
    justify-content: space-around;
    margin:10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.habitForm[type="number"]{
    width: 50px;
}

.eventForm, .DLEventForm{
    display: flex;
    flex-direction: row;
    min-height: auto;
    margin:auto;
    align-content: space-around;
    justify-content: center;
    visibility: hidden;
    transform: translate(0%, 0%);
    transition: all 1s;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.eventForm.visible, .DLEventForm.visible{visibility: visible; transform:translate(130%, 0px); transition: all 1s;}

.eventForm input, .eventForm select, .eventForm button, .habitForm button, .DLEventForm button{
    display: grid;
    justify-content: space-around;
    margin:10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}


.eventForm button, .habitForm button, .DLEventForm button{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: yellowgreen;
    border: none;
    color:white;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 14px;
}


.sidebar{
    display: block;
    position:fixed;
    flex-direction: column;
    background-color:white;
    height: 100%;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    min-width: 150px;

}

.sidebar .logo{
    display: block;
    font-family: "Micro 5", serif;
    color:yellowgreen;
    font-size: 36px;
    text-align: center;
    padding:20% 0%;
    cursor: pointer;
}

.sidebar a{
    text-decoration: none!important;
}
.actions{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    vertical-align: start;
    align-items: start; 
    justify-content:left;
}

.action{
    display: flex;
    padding: 10px;
    margin:5px; 
    background-color: white;
    border: none;
    transition: ease-out 0.2s;
}

.action:hover{
    transform: translateX(25px);
    transition: ease-in 0.2s;
    color:yellowgreen;
}

.contentWrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0 5%;
    justify-self: end;
    vertical-align: start;
    padding-top:100px;
    height: 100%;
}

.leftMenus{
    display: flex;
    width: 30%;
    min-width: 300px;
    align-self: baseline;
    flex-direction: column;
}

.centerMenus{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 350px;
    align-self: baseline;
    justify-self: center;

}

.rightMenus{
    display: flex;
    width: 30%;
    min-width: 300px;
    align-self: baseline;
    flex-direction: column;
}



.eventsWrapper{
    display: flex;
    align-self: baseline;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    opacity: 100%;
    width: 100%;
}

.upcomingEvents.visible{opacity: 100%; transition: 0.5s;}
.upcomingEvents.hidden{opacity: 0%;}

.upcomingEvents .event{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    color:white;
    width: 100%;
}

.upcomingEvents span{
    display:inline-flex;
    align-items: center;
}

.upcomingEvents button {
    display: inline-block;
    align-items: center;
    border: none;
}

.eventInfos{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size:15px;
    line-height: 10px;
    padding:10px;
    width: 100%;
}

.eventInfos .eventTitle{
    font-weight: bold;
}

.eventInfos .eventDate{
    font-size: 10px;
}

.eventComplete{
    background-color:transparent;
    color:white;
    padding: 10px;
    border-right: 1px solid white!important;
    border-radius: 10px 0px 0px 10px;
}

.eventDelete{
    background-color: #F08080;
    border-radius: 10px;
    color:white;
    padding: 0px 10px;
}

.eventDelete:hover{
    background-color:rgb(228, 121, 83);
}

.borderBubble{
    border: 1px solid white;
    border-radius: 5px;
    padding:1px;
    font-weight: normal;
}

.calendarWrap{
    display: flex;  
    align-items: center; 
    justify-self: center;  
    justify-content: center; 
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.calendar{
    display:flex; 
    flex-direction: column;
    justify-self: center;
    height: auto;
    background: #FFF;  
    padding:10%; 
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    justify-self: center;
    max-width: 350px;
}

.calendar .head, .habitsWrapper .head, .eventsWrapper .head, .DLEventsWrapper .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.monthYear{text-transform: lowercase;}

.head, .monthYear {
    font-family: "Micro 5", sans-serif!important;
  font-weight: 400;
  font-size: 20px;
}

.calendar .head button{
    display:flex;
    align-items: center;
    justify-content: center;
    border:none; 
    cursor:pointer;
    background-color: white; 
    font-weight: bold;
}
.calendar .head button:hover{color:yellowgreen;}

.calendar .days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.calendar .day{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:7px;
    margin:auto;
    cursor:default;
}


.calendar .dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 5px;
}
.calendar .dates .day:hover{color:yellowgreen}

.calendar .dates .day.hasEvent{font-weight: bolder;}
.calendar .active{
    background-color:yellowgreen; 
    border-radius: 100%; 
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    color:white; 
    font-weight: bold;
    cursor:pointer;
    transition: all 0.3s;
}
.calendar .active:hover{color:white!important; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); transition: all 0.3s;}
.calendar .inactive{color:darkgrey!important;}

.pageWrapper{
    display: flex; 
    align-items: center; 
    justify-self: center;  
    justify-content: center; 
    width: 100%;
    box-sizing: border-box;
}

.dayPage{
    display:flex; 
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: auto;
    background: #FFF;  
    padding:30px; 
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    justify-self: center;
    width: 80%;

}

.dayPage .pageDate{
    display: flex;
    align-items: stretch;
    color: yellowgreen;
    text-transform: lowercase;
    font-weight: bold;
    border-bottom: 1px solid yellowgreen;
    margin-bottom: 15px;
}
.dayPage .dayEventsContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    margin:auto;
    width: 100%;
}
.dayPage .dayEventsContainer .event{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    align-items: baseline;
    line-height: 26px; 
    border-bottom: 1px solid #DADADA;
}

.reset{
    display: flex; 
    flex-direction:column; 
    align-self: flex-end;
    border:none;
    background-color: white;
    cursor:pointer;
}


.dayPage .event.eventType1{
    color:#F8875C;
}

.dayPage .event.eventType2{
    color:yellowgreen;
}

.dayPage .event.eventType3{
    color:purple;
}

.dayPage .event.eventType4{
    color: cornflowerblue;
}

.dayPage .event.eventType5{
    color:lightgrey;
}

.upcomingEvents .event.eventType1{
    background-color:#F8875C;
}

.upcomingEvents .event.eventType2{
    background-color:yellowgreen;
}

.upcomingEvents .event.eventType3{
    background-color:purple;
}

.upcomingEvents .event.eventType4{
    background-color:cornflowerblue;
}

.upcomingEvents .event.eventType5{
    background-color:lightgrey;
}

.numberWrapper{
    display:flex;
    align-self: center;
    margin-top:30px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    padding: 30px;
}

.numberWrapper h1{
    color:yellowgreen; 
    font-family: sans-serif; 
    margin-bottom: 10px; 
    font-weight: lighter!important;
}

.habitsWrapper, .DLEventsWrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    opacity: 100%;
    margin-top: 15px;
}

.habitsWrapper .habit{
    display: grid; 
    grid-template-columns: 2em auto; 
    line-height: 15px; 
    margin-top:10px;
    background-color: #D4DBDC;
    padding: 15px;
    border-radius: 15px;
    color:white;
}

.habitsWrapper .habit.late{background-color:#F8875C;}
.habitsWrapper .habit.today{background-color: rgb(182, 203, 241);}

.habitsWrapper .habit.done{
    color:#797777; 
    text-decoration: line-through;
}

input[type="checkbox"]{
    display:grid; 
    place-content: center; 
    cursor: pointer; 
    appearance: none; 
    width: 15px; 
    height: 15px; 
    border: 1px solid white; 
    box-shadow: none; 
    background-color: white; 
    border-radius: 5px;
}
input[type="checkbox"]::before{
    content:""; 
    transform: scale(0); 
    width: 15px; 
    height: 15px; 
    background-color: yellowgreen; 
    border-radius: 5px; 
    transition: 0.2s;
    
}
input[type="checkbox"]:checked::before {transform: scale(1);}

.habitsWrapper .habitsFilter, .eventsFilter{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: right;
    line-height: 15px;

}

.habitsWrapper .habitsFilter .filterName, .eventsFilter .filterName{
    padding:0px 5px;
}

/*DLEvents*/
.DLEventsWrapper .DLEvent{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(182, 203, 241);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.DLEventsWrapper .DLEvent.today{background-color: #F08080;}

.DLEventsWrapper .DLEvent.thisweek{background-color:rgb(239, 198, 93);}

.DLEvent .DLEventHead{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 10px;
    color: white;
    width: 100%;
}

.DLEvent .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

 .DLEventsWrapper .DLEvent .DLEventTitle{
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.DLEvent .tasksCompleted{
    font-size:10px;
}

.DLEventHead button{
    border:none;
    background-color: transparent;
    color:white;
    box-shadow: none;
}

.dlEvent .deadline{color:white; line-height: 14px; font-size:14px;}
.dlEvent .checklist{
    display: flex;
    flex-direction: column;
    padding:5px;
    margin-left:2%;
    width: 98%;
    color:white;
    font-size: 14px;
    max-height: 0px;
    transition: all 0.5s;
    overflow: hidden;
    opacity: 0;
}

.dlEvent .checklist.visible{
    display: flex;
    max-height: 600;
    transition: all 0.2s;
    opacity: 1;
}

.dlEvent .checklist div{
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
}

.dlEvent .checklist input[type=checkbox]{
    margin-right: 5px;
}

.dlEvent .checklist button{
    border:none;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px;
}

.dlEvent .checklist .newTask{
    background-color:white;
    margin-bottom: 5px;
}



.dlEvent .checklist .completeEvent{
    background-color: yellowgreen;
    color:white;
}
.dlEvent input.taskInput, .dlEvent input.taskInput:focus{background-color: transparent; color:white; border: none; box-shadow: none; outline: none; margin-bottom:5px; padding:5px; border-radius: 5px;}
.dlEvent input.taskInput::placeholder{color:white;}


/*points*/
.pointsDisplay{
    display: flex;
    color:yellowgreen;
    font-family: "Micro 5", serif;
    font-size:24px;
    text-align: center;
    justify-content: center;
    width: 100%;
}


/*settings page*/

.settingsWrapper, .statsWrapper{
    display: flex;
    flex-direction: column;
    padding:30px;
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 30px;
}

.settingsTabs{
    display: flex;
    width: 99%;
    border-bottom: 1px solid #DADADA;
    align-self: center;
}

.settingsTabs .tab{
    flex-direction: row;
    margin-left:5px;
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-bottom: none;
    padding: 10px;
    margin-right: 5px;
    background-color: white;
    transition: all 0.6s;
    font-family: "Micro 5", serif;
    font-size: 16px;
    
}

.settingsTabs .tab:hover{
    background-color:yellowgreen;
    border: 1px solid yellowgreen;
    border-bottom:none;
    transition: all 0.6s;
}

.settingsContainer{
    display:flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.settingsHabits .habit, .settingsDLEvents .DLEvent{
    display: flex;
    flex-direction: column;
    color:black;
    border:1px solid #DADADA;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
    transition: all 0.7s;
}

.settingsHabits .habit:hover, .settingsDLEvents .DLEvent:hover{
    background-color: rgba(99,99,99,0.1);
    transition: all 0.7s;
}

.settingsHabits .habit .habitTitle, .settingsDLEvents .DLEvent .DLEventTitle{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    width: 100%;
}

.settingsContainer .habit .habitTitle .buttons, .settingsDLEvents .DLEvent .DLEventTitle .buttons{
    display: flex;
    flex-direction: row;
}

.settingsContainer .habit button, .settingsDLEvents .DLEvent button{
    height: 30px;
    align-self: baseline;
    margin-left: 5px;
}

.settingsContainer .habit .habitFrequency, .settingsDLEvents .DLEvent .DLEventDueDate{
    font-size:12px;
    padding-top:5px
}

.settingsContainer .habit .habitEditPanel, .settingsDLEvents .DLEvent .DLEventEditPanel{
    display: none;
}

.settingsContainer .habit .habitEditPanel.visible, .settingsDLEvents .DLEvent .DLEventEditPanel.visible{
    display: flex;
    
}

.settingsContainer .DLEventEditPanel{
    flex-direction: column;
}
.settingsContainer .DLEvent .DLInfos{
    display: flex;
    flex-direction: row;
}

.settingsContainer .DLEvent .DLEventChecklistInfos{
    padding-left:10px;
    border-left:1px solid yellowgreen;
}

.settingsContainer .DLEventEditPanel .DLEventChecklistInfos .task{
    display: flex;
    flex-direction: row;
}

.settingsContainer .DLEventEditPanel .DLEventChecklistInfos .buttons{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.settingsContainer .eventsTypeForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settingsContainer .eventsTypeForm .eventType{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.settingsContainer .eventsTypeForm .eventType .renametype, .settingsContainer .eventsTypeForm .eventType .recolortype{
    display: flex;
    flex-direction: row;
    width: 50%;
}


.settingsContainer input{
    display: grid;
    justify-content: space-around;
    margin:10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.settingsContainer input[type="color"]{
    display: block;
    padding: 0px;
    border-radius: 0px;
}

/*stats page*/
.statsWrapper h1{
    display: flex;
    font-family: "Micro 5", serif ;
    color:yellowgreen;
}
